body {
    background: #232523;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*-----------------
  CLASES DE APOYO
-------------------*/  
/* centra elementos inline hijos */
.center--inline {
    text-align: center;
}

/* aplica opacidad */
.disable {
    opacity: 0.3;
}

/* oculta un elemento */
.novisible {
    visibility: hidden;
}

/*-----------------
  ELEMENTOS
-------------------*/  
/* inline-block para poder disponerlos una al lado del otro */
.pusher {
    border: 3px solid gray;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: 20px;
    display: inline-block; 
    position: relative;
} 

.red {
    background: #a22;
}

.yellow {
    background: #aa2;
}

.green {
    background: #2a2;
}

.blue {
    background: #22a;
}

button {
    border: 1px solid;
    border-radius: 5px;
    padding: 1em;
}

.record {
    font-size: 1.5rem;
    color: rgb(171, 212, 174);
}

.pushed-colors {
    margin: 20px;
    height: 80px;
    display: flex;
    align-items: stretch;
}

.pushed-color {
    border: 1px solid orange;
    height: 80px;
    width: 100%;
}

.error {
    position: fixed;
    left: 50%;
    top: 350px;
    transform: translate(-50%, -50%);

    width: 300px;
    height: 3.5rem;

    text-align: center;

    color: rgb(146, 55, 55);
    background-color: #aaa;
    font-size: 3rem;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #555;
}

/*----------
  EFECTOS 
------------*/

.push-effect:hover {
    border-radius: 20px;
}

.push-effect:after {
    content: "";
    background: inherit;
    border: 3px solid gray;
    position: absolute;
    top: -8px;
    left: -8px;
    width: 110px;
    height: 110px;
    border-radius: 20px;
    opacity: 0;
    transition: all 1.2s
}

.push-effect:active:after {
    opacity: 1;
    transition: 0s
}

.change-color {
    transition: background-color 0.5s;
}
