<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Actividad 01 Vue.js. Simon</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <div id="app">
        <!-- visor de color generado por ordenador -->
        <div class="center--inline">
            <div class="pusher change-color" :class="currentComputerColorClass"></div>
        </div>
        <!-- visor de colores pulsados por el usuario -->
        <div class="pushed-colors">
            <div v-for="pColor in playerColors" class="pushed-color" :class="{ red: pColor.color == 0, blue: pColor.color == 1, green: pColor.color == 2, yellow: pColor.color == 3 }"></div>
        </div>
        <!-- botonera -->
        <div class="center--inline">
            <div class="pusher red" :class="{ disable: turn == 0, 'push-effect': turn != 0 }" @click="clickColor(0)"></div>
            <div class="pusher blue" :class="{ disable: turn == 0, 'push-effect': turn != 0 }" @click="clickColor(1)"></div>
            <div class="pusher green" :class="{ disable: turn == 0, 'push-effect': turn != 0 }" @click="clickColor(2)"></div>
            <div class="pusher yellow" :class="{ disable: turn == 0, 'push-effect': turn != 0 }" @click="clickColor(3)"></div>
        </div>
        <!-- botón inicio -->
        <div class="center--inline">
            <button v-if="!isRunning" @click="run()">{{ txtBtnRun }}</button>
            <button v-else @click="stop()">Parar</button>
        </div>
        <!-- mensaje de error -->
        <div class="error" :class="{ novisible: !error }">¡¡ ERROR !!</div>
        <!-- record -->
        <div class="center--inline">
            <p class="record">Record: {{ record }}</div>
        </div>  
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="js/main.js"></script> 
  </body>
</html>